RewriteEngine On

# Redirect .html to extensionless
RewriteCond %{THE_REQUEST} \s/+heritagehaat/([^\s?]+?)\.html[\s?] [NC]
RewriteRule ^heritagehaat/(.+)\.html$ /heritagehaat/$1 [R=301,L,NE]

# Internally serve extensionless URL from .html file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^heritagehaat/(.+)$ /heritagehaat/$1.html [L]

DirectoryIndex index.html
